/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Martel+Sans:wght@700&family=Yrsa:wght@600;700&display=swap');

:root {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 1440px; */
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    /* background-color: #5D074E; */
    background-color: #90147b;
    font-family: 'Yrsa', serif;
    color: white;
}

.page, .storm {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    background-image: url(./assets/storm-logo_animated.gif);
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: 100%;
}

.storm {
    flex-direction: column;
    justify-content: flex-start;
    padding: 5% 10%;
}

button {
    width: 20%;
    background-color: #9e9e9ec9;
    opacity: 0;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 2% 0%;
    font-size: 3rem;
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    animation: fade 2s 1s linear forwards;
    transition: .5s;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 2px 20px;
}

/* button animation */
@keyframes fade {
    from {
        opacity: o;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-family: Asap, sans-serif;
    font-size: 4.5rem;
    letter-spacing: 0.4rem;
}

.thundering {
    font-family: Asap, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.15rem;
}

.about {
    width: 100%;
    position: relative;
    margin: 5% 0;

}

h2 {
    margin: 2% 0;
    text-shadow: 3px 3px #F6735F;
    font-size: 2rem;
    font-family: 'Asap', sans-serif;
}

.desc {
    z-index: 1;
    width: 60%;
    background-color: #F6735F;
    padding: 2%;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px white;
}

.desc p {
    font-family: 'Yrsa', serif;
    line-height: 1.5;
}

p {
    font-size: 1.35rem;
}

p span {
    font-family: 'Martel Sans', sans-serif;
    font-size: 1.5rem;
}

i {
    z-index: 0;
    color: #5d074e27;
    position: absolute;
    top: 60%;
    right: 0%;
    font-size: 9rem;
    z-index: 0;
}


.about, .impact {
    /* position: relative; */
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.about img {
    width: 50%;
    /* position: absolute;
    top: 70%;
    right: 0%; */
    box-shadow: -10px 10px #9CFFFA;
    align-self: flex-end;
    z-index: 1;
}

.impact img {
    width: 60%;
    box-shadow: 10px 10px #9CFFFA;
}

.impact .desc {
    align-self: flex-end;
    top: -10%;
    width: 50%;
    box-shadow: -10px 10px white;
}

.giving-back {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    height: 500px;
    background-color: #9CFFFA;
    color: black;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -10px 10px #F6735F;
}

.card:last-of-type {
    width: 100%;
    margin: 4% 0;
}

.card img {
    width: 80%;
    filter: opacity(0.4);
    transition: .5s;
}

.card img:hover {
    filter:opacity(1);
}
.card:last-of-type img:last-of-type {
    width: 50%;
}

.card p {
    z-index: 1;
}

.experience {
    width: 100%;
    background-color: #F6735F;
    padding: 2%;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px white;
}

.experience i {
    right: 10%;
}